/*************************************************
    GENERAL STYLES
 *************************************************/
*,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
    font-family: 'Montserrat', sans-serif;
     
 }
 
 img {
     max-width: 100%;
 }

 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */
 .container {
     max-width: 1200px;
     margin: 0 auto;
 }
 

/* TEXT */
 

/************************************************
     SITE SECTIONS
  ************************************************/
 
 /* HEADER */

   #header-sticky{
    height: 6.25rem;
    background-color: rgba(0,0,0,0.8);
    text-align: end;
    line-height:5rem;
    position:sticky;
    top:0;
   }


   .container button{
    background-color: rgba(0,0,0,0.1);
    border-radius: 1.875rem;
    border-color:white;
    color: white;
    width: 14.00rem;
    height: 2.5rem;
    font-size: .625rem;
   }

   #contenuto-con-lo-scroll-dx{

    

   }
/*    MAIN   */   

#main{
   width:100vh;
   height: 100v;

}


/*    PLAYER STICKY   */

#player-sticky{
    height: 6.25rem;
}

/* LESSONS SECTION */


 /************************************************
     SOLUZIONE RESPONSIVE
  ************************************************/

/* Media Query Desktop First : 
Caso Base Desktop da 1100px in poi */
 

/* Medium Device Tablet fino a 1100px */

@media screen and (max-width: 1100px){
    


} 

/* Medium Device Mobile  fino a 700px*/

@media screen and (max-width:700px){
    


} 

/* Small Device Mobile  fino a 600px*/

@media screen and (max-width:600px){
    


} 



/*************************************************
    DEBUG
 *************************************************/

.debug{
     border: 5px dashed lightcoral;
}

