/*************************************************
          RESET
 *************************************************/

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*************************************************
    GENERAL STYLES
 *************************************************/

body{
    font-family: 'Montserrat', sans-serif;     
}

.container{
    width: 100%;
    padding:.625rem;
}

img{
    width: 100%;
}

/************************************************
     CUSTOM PROPERTIES
 ************************************************/

:root{
 
 /* COLOR BACKGROUND*/

    --first-background-color:#141922;
    --second-background-color:#282828;
    --third-background-color:#4A4E54;
    --forth-background-color:#000000;

 /* COLOR TEXT */ 

    --first-text:#4A4E54;
    --second-text:rgb(255, 255, 255);
    --third-text:#6A6A6A;
}

 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */

 /* .my-container{
    max-width: 1200px;
    margin: 0 auto;
 } */

 /************************************************
     SITE SECTIONS
  ************************************************/

 /*  MAIN CONTENT  */


     /* MAIN HEADER  */

#main-content{
    
    height: calc(100vh - 6.25rem);
    display:flex;
    background-color: var(--first-background-color);
 }

#main-content > aside{
    background-color: var(--forth-background-color);
    width: 12.5rem;
} 

#main-content > main {

    width: calc(100% - 12.5rem);
    
}

#main-content > main > header{

    position: fixed; 
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    height: 5rem;
    text-align: right;
    width: calc(100% - 12.5rem);
    
}

header > button{
    background-color: rgba(0,0,0,0.1);
    border-radius: 1.875rem;
    border-color: whitesmoke;
    color: var(--second-text);
    width: 14.00rem;
    height: 2.5rem;
    font-size: .625rem;
    margin: 1.25rem;
    transition: all 1s ease-in-out;
}

button:hover{

    transform:scale(1.1);
}

  /*   MAIN SECTION  */

  /*   ASIDE  */

  div.logo-sx{
    margin: 1.25rem;
    font-size: .625rem;
  }

  .logo-main-fontawesone{
    color:var(--second-text);
    padding: .625rem;
}

span i{
    padding-right:10px;
}


  .navbar-logo a{
    text-decoration: none;
    list-style-type: none;
    color:var(--third-text);
    margin: 1.25rem;

}

.navbar-logo i{
    margin: .3125rem;
    color:var(--third-text)
}

.navbar-logo span:not(.plus-button-text){
    font-size: .75rem;
    font-weight: bold;

}

.playlist{
    font-size: .8125rem;
    color: var(--second-text);
    margin:1.25rem 0rem 1.5625rem 1.5625rem;
 }   

 .plus-button{
    width: 1.875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    vertical-align: middle;
    background-color:var(--third-text);
    font-size: 1.875rem;
    text-align: center;
 }
.container-plus{
    display: flex;

}
 div.plus-button{
    margin-left: 1.5625rem;
 }

 .plus-button-text{
    color:var(--third-text);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .625rem;
    font-size: .9375rem;
    font-weight: bold;
}

.lista-playlist ul > li > a{
    color:var(--third-text);
    margin: 1.5625rem;
    text-decoration: none;
}

  /*  NAV   */

  .container .menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.container a{
    list-style-type: none;
    text-decoration: none;
    padding: 0px 20px;
    color:var(--first-text);
    font-size: .625rem;
}

.container a{
    transition: all .35s ease;
  }




#main-content > main > section{

    overflow-y: auto;
    /* QUANDO AGGIUNGO OVERFLOW DEVO ANCHE 
    DARE UN ALTEZZA FISSA,
    ALTRIMENTI NON SCROLLA 
    IN QUESTO CASO LA SECTION PRENDERà 
    L'ALTEZZA DEL GENITORE
    CHE è MAIN  */
    height: 100%;
    padding-top: 5rem;
    
}

.underline::after{
    text-decoration: underline;
    margin:0 auto;
    content:" ";
    display: block;
    background-color: #ADFF2F;
    width: 1.5625rem;
    height: .125rem;
    text-align: center;
}

/*   SECTION MAIN 2 */

.cards {
    display: flex;
    flex-wrap: wrap;
    margin:0px -0.625rem;

}

.cards > .card {

    width:calc((100% / 6) - 1.25rem);
    margin:0 .625rem;

}

.container h2{
    font-size: 1.25rem;
    color:var(--second-text);
    margin-bottom:10px;
}

.container h4{
    font-size: medium;
    color:var(--second-text);
    text-align: center;

}

.container h5{
    color:var(--first-text);
    text-align: center;

}

.container h6{
    color:var(--first-text);
    font-size: small;
    margin-bottom: .625rem;
    

}

.cover-container{
      position: relative;
}

.overlay{
    position: absolute; 
    top:4.375rem;
    bottom: 4.375rem; 
    width: 100%;
    transition: 1s ease-in-out;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  
  .card:hover .overlay{
    opacity: 2;

}   

.container a:hover{
    transform: transition;
    color:white;
    text-size-adjust: .3125rem;
}


 /*  FOOTER  */

footer{
    height:6.25rem ;
    display: flex;
    justify-content: space-between;
    background-color: var(--second-background-color);
    padding: 0.625rem;

}

.cards-footer{
    display: flex;
    justify-content:space-between;
    
}

.card-footer{
    width: calc((100% / 3) - .625rem);
    padding: .3125rem .3125rem;
}

.contenitore-progress-bar{
    width: 40%;
}

.progress-bar{
    width: 31.25rem;
    height: 1em;
    background-color: var(--third-background-color);
}
.test-footer > h5{
    color: var(--second-text);
}

.test-footer > h6{
    color: var(--third-text);
}

.card-footer i{
    margin-top: 1.25rem; 
    color: var(--third-text);
}


 /************************************************
     SOLUZIONE RESPONSIVE
  ************************************************/

/* Media Query Desktop First : 
Caso Base Desktop da 1100px in poi */
 

/* Medium Device Tablet fino a 1100px */

@media screen and (max-width:1100px){
    
    .cards > .card{
        width:calc(100% / 4);
    }
    
} 
    
/* Medium Device Mobile  fino a 700px*/
    
@media screen and (max-width:700px){
     
    .cards > .card{
        width:calc(100% / 2);
    }    
    
    
} 
    
/* Small Device Mobile  fino a 600px*/
    
@media screen and (max-width:600px){
        
    .aside{
        width: 5rem;
    }
    
} 
    
    
    /*************************************************
        DEBUG
     *************************************************/
    
     .debug .cards{
        border: 2px solid lightcoral;
     }

     .debug .card{
        border: 2px solid greenyellow;
     }

    .debug .cont-img-footer{
        border: 2px dashed green;
    }
     
    .debug > .cards-footer , .debug > .card-footer {
        border: 2px dashed yellow;
    }
    

